*{
    margin: 0;
    padding: 0;
}

.container{
    width:700px;
    height: 500px;
    margin:20px auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.63);
}

.container h1{
    font-size:44px;
}

.imagem{
    border:1px solid black;
    height:130px;
    width:200px;
    margin-top: 40px;
    margin-left: 250px;
}

.img-con{
    height:130px;
    width:200px;
}

.seletor{
    height: 100px;
    width: 100px;
    margin-top:20px; 
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center; 
}

.inp{
    margin-top: -80px;
    margin-left: 300px;
    height: 20px;
    width: 150px;
}

.botao{
    margin-top: 20px;
    height: 25px;
    width: 60px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.753);
}

.txt{
    height: 40px;
    width: 600px;
    margin-top: 120px;
    margin-left: 50px;
}